# yamllint disable rule:braces
# yamllint disable rule:indentation
---
name: Run tests on CI
# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
    paths:
      - "**.fish"
      - ".github/**/*.yml"

  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    paths:
      - "**.fish"
      - ".github/**/*.yml"
  workflow_dispatch:

jobs:
  test-container:
    uses: ./.github/workflows/alpine.yml
    secrets: inherit
